@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');
body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    
}

/*nav bar start*/
.header{
    display: flex;
    margin: 0px;
    background-color: rgb(139, 179, 139);
    flex-wrap: wrap; /*makes responsive in a way (nice!)*/
    /*
    position: sticky;
    top: 0.1px;
    */
   
}
.header img{
    width: 84px;
    padding-left: 5%;
}
ul.above{
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin-left: auto;
    font-size: 24px;
    padding-right: 15px; 
    margin-top: 20px;
    color: rgb(70, 62, 62);
}
/*nav bar end*/
/*display start*/
.display{
   display: flex;
   justify-content: center;
   background-color: rgb(139, 179, 139);
   flex-wrap: wrap; /*makes responsive in a way (nice!)*/

}
.display.left{
    flex-direction: column;
    flex-basis: 400px;
    margin-right: 50px;
    text-align: left;
    color: rgb(70, 62, 62);
}
.left h1{
    
    font-size: 54px;
    margin-bottom: 0px;
    
    
   
}
.left p{
    font-size: 20px;
    margin: 0px;
    
}
.left button{
    margin-top: 5px;
    display: block;
    text-align: center;
    width: 150px;
    border: none;
    background:  rgb(70, 62, 62);
    padding: 4px;
    font-size: 30px;
    border-radius: 8px;
    color: rgb(139, 179, 139);
}
.display img{
   
    width: 400px;
    height: 400px;  
    border: 1em double rgb(70, 62, 62);;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10%;
    
   
}
/*display end*/

/*starters start*/

.starters{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(70, 62, 62);
    text-align: center;
    background-color: rgb(243, 243, 243);

}
.starters h1{
    text-align: center;
    font-size: 68px;  
    
    
}

.box{
    flex-direction: row;
    gap: 300px;
    font-size: 50px;
    font-weight:700;
    
}

.box img{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    flex-direction: row;
}
#turt {
    background-color: rgb(50, 250, 183);
    border: 0.5em double #387051;
    
}
#chim{
    background-color: rgb(252, 210, 163);
    border: 0.5em double #8a6f36;
}
#pipl{
    background-color: rgb(135, 189, 233);
    border: 0.5em double #3e547c;
}

.turty p{
    color: transparent;
    background-position: center;
    -webkit-background-clip: text;
    background-image: url(https://media.giphy.com/media/S6NOHG8pThQu8B6JWm/giphy.gif);
    -webkit-text-stroke: 1px rgb(70, 62, 62);
    
}

.chimy p{
    color: transparent;
    background-position: center;
    -webkit-background-clip: text;
    background-image: url(https://media.giphy.com/media/13mwsrXEUtSyZi/giphy.gif);
    -webkit-text-stroke: 1px rgb(70, 62, 62);

} 

.piply p{
    color: transparent;
    background-position: center;
    -webkit-background-clip: text;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTA5N2MyNzU4Y2M3YzdiYmIxNzVmY2M4YjBiYTdhMGVlNWRkZjVmYiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/h6x0ROdzJy4TKyUu1b/giphy-downsized-large.gif);
    -webkit-text-stroke: 1px rgb(70, 62, 62);

} 

/*starters end*/
